<!-- Start Event and News -->
<div class="container mt-100 mt-60">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">أنشطة المكتب</h4>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-4 col-md-6 mt-4 pt-2" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
            <div class="card blog rounded border-0 shadow">
                <div class="position-relative">
                    <img src="http://www.esmart-me.com/ftpuser/Community/dr-ezz-ramadan.jpg" class="card-img-top rounded-top" alt="...">
                    <div class="overlay rounded-top"></div>
                </div>
                <div class="card-body content">
                    <h5><a href="javascript:void(0)" class="card-title title text-dark">Message from Dr. Ahmed Ezz El-Din for the group's team on the occasion of Ramadan</a></h5>
                    <div class="post-meta d-flex justify-content-between mt-3">
                        <a href="javascript:void(0)" class="text-muted readmore">إقراء المزيد <i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                    </div>
                </div>
                <div class="author">
                    <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ "2011-10-05T14:48:00.000Z" | date:'longDate' }}</small>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
<!-- End Event and News -->