<div class="container mt-100 mt-60">
    <div class="row align-items-end mb-4 pb-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-md-8">
            <div class="section-title text-center text-md-start">
                <h6 class="text-primary">العنوان الرئيسي</h6>
                <h4 class="title mb-4">حالة واحدة فقط يمكن من خلالها إجراء مباراة فاصلة بين ليفربول ومان سيتى</h4>
                <p class="text-muted mb-0 para-desc">
                    حقق فريق ليفربول، الذي يضم بين صفوفه النجم المصري محمد صلاح، فوزا صعبا على مضيفه ساوثهامبتون بنتيجة 2-1 في المباراة التي أقيمت بينهما مساء الثلاثاء على ملعب "سانت ماري"، في مباراة قوية جمعت الفريقين ضمن منافسات الجولة الـ 37 وقبل الأخيرة من مسابقة الدوري الإنجليزي....
                </p>
            </div>
        </div><!--end col-->

        <div class="col-md-4 mt-4 mt-sm-0">
            <div class="text-center text-md-end">
                <a href="javascript:void(0)" class="text-primary h6">إقراء المزيد <i class="uil uil-angle-left-b align-middle"></i></a>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-md-4 mt-4 pt-2" data-aos="fade-left" data-aos-duration="1000">
            <ul class="nav nav-pills nav-justified flex-column bg-white rounded shadow p-3 mb-0 sticky-bar" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link rounded active" id="webdeveloping" data-bs-toggle="pill" href="#developing" role="tab" aria-controls="developing" aria-selected="false">
                        <div class="text-center py-1">
                            <h6 class="mb-0">عاجل</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item mt-2">
                    <a class="nav-link rounded" id="database" data-bs-toggle="pill" href="#data-analise" role="tab" aria-controls="data-analise" aria-selected="false">
                        <div class="text-center py-1">
                            <h6 class="mb-0">رياضه</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item mt-2">
                    <a class="nav-link rounded" id="server" data-bs-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
                        <div class="text-center py-1">
                            <h6 class="mb-0">سياسه</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
                
                <li class="nav-item mt-2">
                    <a class="nav-link rounded" id="webdesigning" data-bs-toggle="pill" href="#designing" role="tab" aria-controls="designing" aria-selected="false">
                        <div class="text-center py-1">
                            <h6 class="mb-0">تقارير</h6>
                        </div>
                    </a><!--end nav link-->
                </li><!--end nav item-->
            </ul><!--end nav pills-->
        </div><!--end col-->

        <div class="col-md-8 col-12 mt-4 pt-2" data-aos="fade-right" data-aos-duration="1000">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade bg-white show active p-4 rounded shadow" id="developing" role="tabpanel" aria-labelledby="webdeveloping">
                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="img-fluid rounded shadow" alt="">
                    <div class="mt-4">
                        <p class="text-muted">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                        <a href="javascript:void(0)" class="text-primary">إقراء المزيد <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div><!--end teb pane-->
                
                <div class="tab-pane fade bg-white p-4 rounded shadow" id="data-analise" role="tabpanel" aria-labelledby="database">
                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="img-fluid rounded shadow" alt="">
                    <div class="mt-4">
                        <p class="text-muted">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                        <a href="javascript:void(0)" class="text-primary">إقراء المزيد <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div><!--end teb pane-->

                <div class="tab-pane fade bg-white p-4 rounded shadow" id="security" role="tabpanel" aria-labelledby="server">
                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="img-fluid rounded shadow" alt="">
                    <div class="mt-4">
                        <p class="text-muted">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                        <a href="javascript:void(0)" class="text-primary">إقراء المزيد <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div><!--end teb pane-->
                
                <div class="tab-pane fade bg-white p-4 rounded shadow" id="designing" role="tabpanel" aria-labelledby="webdesigning">
                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="img-fluid rounded shadow" alt="">
                    <div class="mt-4">
                        <p class="text-muted">This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. It is said that song composers of the past used dummy texts as lyrics.</p>
                        <a href="javascript:void(0)" class="text-primary">إقراء المزيد <i class="uil uil-angle-left-b align-middle"></i></a>
                    </div>
                </div><!--end teb pane-->
            </div><!--end tab content-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->


<!-- Start Event and News -->
<div class="container mt-100 mt-60">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">أخر الأخبار</h4>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

    <div class="row" data-aos="fade-up" [attr.data-aos-duration]="1000 + (0 * 200)">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleInterval" [attr.data-bs-slide-to]="0"
                    [ngClass]="{'active': true}" [attr.aria-current]="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleInterval" [attr.data-bs-slide-to]="1"
                    [ngClass]="{'active': false}" [attr.aria-current]="true" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleInterval" [attr.data-bs-slide-to]="2"
                    [ngClass]="{'active': false}" [attr.aria-current]="true" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner mb-5 pb-3">
                <div class="carousel-item" data-bs-interval="2000" [ngClass]="{'active': true}">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">حالة واحدة فقط يمكن من خلالها إجراء مباراة فاصلة بين ليفربول ومان سيتى</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202110030552255225.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">30 يونيو.. آخر موعد لتسجيل رقم المحمول على بطاقات التموين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/2022033102030030.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">رئيس الزمالك يقرر عدم خوض المباريات على استاد القاهرة ويوقف مستحقات اللاعبين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item" data-bs-interval="2000" [ngClass]="{'active': false}">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202110030552255225.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">30 يونيو.. آخر موعد لتسجيل رقم المحمول على بطاقات التموين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">حالة واحدة فقط يمكن من خلالها إجراء مباراة فاصلة بين ليفربول ومان سيتى</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/2022033102030030.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">رئيس الزمالك يقرر عدم خوض المباريات على استاد القاهرة ويوقف مستحقات اللاعبين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item" data-bs-interval="2000" [ngClass]="{'active': false}">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202204101138463846.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">حالة واحدة فقط يمكن من خلالها إجراء مباراة فاصلة بين ليفربول ومان سيتى</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/2022033102030030.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">رئيس الزمالك يقرر عدم خوض المباريات على استاد القاهرة ويوقف مستحقات اللاعبين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-4 pt-2">
                            <div class="card blog rounded border-0 shadow">
                                <div class="position-relative">
                                    <img src="https://img.youm7.com/large/202110030552255225.jpg" class="card-img-top rounded-top" alt="...">
                                    <div class="overlay rounded-top"></div>
                                </div>
                                <div class="card-body content">
                                    <h5><a  href="javascript:void(0)" class="card-title title text-dark">30 يونيو.. آخر موعد لتسجيل رقم المحمول على بطاقات التموين</a></h5>
                                    <div class="post-meta d-flex justify-content-between mt-3">
                                        <a  href="javascript:void(0)" class="text-muted readmore">أقرأ المزيد<i class="uil uil-angle-left-b align-middle fliped-icons"></i></a>
                                    </div>
                                </div>
                                <div class="author">
                                    <!-- <small class="text-light date"><i class="uil uil-calendar-alt"></i>{{ '2022-05-17T22:55:40.451Z' | date:'longDate' }}</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--end col-->
    </div>
    <!--end row-->
</div>
<!--end container-->
<!-- End Event and News -->