.bit-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    color: white;
}

.category-title {
    left: 0px !important;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-right: 10px !important;

    h1, h4 {
        color: white;
    }
}

.bg-home {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 70vh;
}

@media (min-width: 1400px) {
    .containerGrid {
        max-width: 1461px !important;
    }
}