<!-- Contact Start -->
<section class="section bg-light border-bottom pb-0">
    <section class="section pb-0" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4" data-aos="fade-up" data-aos-duration="1000">Get In Touch !</h4>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mt-4 pt-2 order-2 order-md-1">
                    <div class="card rounded shadow border-0" data-aos="fade-up" data-aos-duration="1000">
                        <div class="card-body">
                            <div class="custom-form bg-white">
                                <!-- <div *ngIf="errorMsg != ''" class="mb-3 text-center bg-danger text-white rounded p-3">
                                    {{errorMsg}}
                                </div>
                                <div *ngIf="successMsg != ''" class="mb-3 text-center bg-success text-white rounded p-3">
                                    {{successMsg}}
                                </div> -->
                                <!-- <form [formGroup]="sendMessageForm"> -->
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Subject<span
                                                        class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input required name="name" id="name2" type="text" class="form-control ps-5"
                                                        placeholder="Subject :">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email<span
                                                        class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input required name="email" id="email2" type="email"
                                                        class="form-control ps-5"
                                                        placeholder="Your Email :">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Comments<span
                                                    class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="message-circle" class="fea icon-sm icons"></i>
                                                    <textarea required name="comments" id="comments2" rows="4"
                                                        class="form-control ps-5"
                                                        placeholder="Your Message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <div class="d-grid">
                                                <input type="submit" id="submit2" name="send"
                                                    class="submitBnt btn btn-primary"
                                                    value="Send Message">
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                                <!--end form-->
                            </div>
                            <!--end custom-form-->
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-7 col-md-6 mt-4 pt-2 order-1 order-md-2">
                    <div class="title-heading ms-lg-4">
                        <h4 class="mb-4" data-aos="fade-up" data-aos-duration="1000">Contact Details
                        </h4>
                        <div class="card border-0 bg-transparent">
                            <div class="card-body p-0">
                                <div class="contact-detail d-flex align-items-center mt-3" data-aos="fade-up"
                                    data-aos-duration="1200">
                                    <div class="icon">
                                        <i data-feather="mail" class="fea icon-m-md text-dark me-3"></i>
                                    </div>
                                    <div class="content overflow-hidden d-block">
                                        <h6 class="fw-bold mb-0">Email</h6>
                                        <a [href]="'mailto:mostafasamer1999@hotmail.com'" target="_blank"
                                            class="text-primary">mostafasamer1999@hotmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 bg-transparent">
                            <div class="card-body p-0">
                                <div class="contact-detail d-flex align-items-center mt-3" data-aos="fade-up"
                                    data-aos-duration="1400">
                                    <div class="icon">
                                        <i data-feather="phone" class="fea icon-m-md text-dark me-3"></i>
                                    </div>
                                    <div class="content overflow-hidden d-block">
                                        <h6 class="fw-bold mb-0">Phone</h6>
                                        <a [href]="'tel: 0201550277869'" target="_blank"
                                            class="text-primary">01550277869</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 bg-transparent">
                            <div class="card-body p-0">
                                <div class="contact-detail d-flex align-items-center mt-3" data-aos="fade-up"
                                    data-aos-duration="1600">
                                    <div class="icon">
                                        <i data-feather="map-pin" class="fea icon-m-md text-dark me-3"></i>
                                    </div>
                                    <div class="content overflow-hidden d-block">
                                        <h6 class="fw-bold mb-0">Address</h6>
                                        <a href="javascript:void(0)" data-type="iframe"
                                            class="video-play-icon text-primary lightbox">عنوان</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end contact-->
        <!--end container-->
    </section>
</section>
<!--end section-->
<!-- Contact End -->